.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: auto;
  column-gap: 18px;
  row-gap: 8px;
  padding-left: 30px;
}

@media screen and (max-width: 899px) {
  .profile__info {
    grid-template-columns: 189px 18px;
    column-gap: 10px;
    row-gap: 7px;
  }
}
  
@media screen and (max-width: 619px) {
  .profile__info {
    padding-top: 22.25px;
    padding-left: 17.5px;
    padding-bottom: 36px;
  }
}